<div class="contenedor-der"
>    <!-- buscador -->
    <div class="cuadricula-busqueda">
        <div class="buscador-adm">
            <input
                    [disabled]="productosService.mostrarTodosProductos"
                    type="text"
                    style="width: 100%; height: 100%; padding: 10px"
                    [placeholder]="productosService.mostrarTodosProductos ? '---' : 'Buscar producto...'"
                    [(ngModel)]="productosService.searchTerm"
                    (input)="productosService.filtrarProductos()"
                    (focus)="adminService.mostrarResultados = true"
                    (blur)="adminService.ocultarResultadosConDelay()"
                    autocomplete="off"
            />
        </div>


        <label class="label-checkbox" style="gap: 15px" (click)="productosService.filtrarProductos()">
            Mostrar todos los productos
            <input
                    type="checkbox"
                    [(ngModel)]="productosService.mostrarTodosProductos"
                    (change)="productosService.filtrarProductos()"
                    style="pointer-events: none; scale: 2;"
            />
        </label>

        <button
                mat-flat-button
                color="warn"
                (click)="adminService.abrirModalEliminar()"
                [disabled]="this.adminService.productosService.productosSeleccionados.length === 0"
        >
            <div
                    (click)="adminService.eliminarProductosSeleccionados()"
                    [style.color]="adminService.productosService.productosSeleccionados.length === 0 ? 'gray' : 'black'"
                  style="display: flex;"
            >
                <mat-icon>delete_forever</mat-icon>
                <div style="justify-self: center; align-self: center">
                    Eliminar seleccionados ({{this.adminService.productosService.productosSeleccionados.length}})
                </div>
            </div>

        </button>

        <button
                mat-stroked-button
                color="primary"
                (click)="adminService.seleccionarTodosFiltrados()"
                [disabled]="this.adminService.productosService.productosFiltrados.length === 0"
        >
            <mat-icon>select_all</mat-icon>
            Seleccionar todo ({{this.adminService.productosService.productosFiltrados.length}})
        </button>
    </div>

    <div id="contenedor-lista-productos" style="height: 100vh; overflow: auto">
        <div class="productos-grid">
            <!-- Lista de productos -->
            @for (p of productosService.productosFiltrados; track p.id) {
                <div class="producto-item">
                    <div class="producto-header">
                        <input
                                type="checkbox"
                                [(ngModel)]="p.seleccionado"
                                (ngModelChange)="adminService.productosService.toggleSeleccion(p, $event)"
                                id="chk-{{p.id}}"
                        />
                        <label for="chk-{{p.id}}">{{ p.nombre }}</label>
                    </div>

                    <div class="producto-imagen">
                        @if (p.imagen) {
                            <img [src]="p.imagen" alt="Imagen del producto {{ p.nombre }}" />
                        } @else {

                            <mat-icon class="icono-centrado">
                                image_not_supported
                            </mat-icon>
                        }
                    </div>

                    <div class="producto-detalles">
                        <span class="producto-precio">{{ p.precio }}$</span>
                        <button (click)="adminService.cargarEnFormulario(p)">Editar</button>
                    </div>
                </div>
            }
        </div>
    </div>

</div>