<div>

    <!-- ================= CARGA MASIVA ================= -->
    <mat-card class="product-editor-card">
        <mat-divider></mat-divider >
        <mat-card-header>
            <mat-card-title >
                <div id="cont-titulo" style="display: flex; flex-direction: row; gap: 15px; align-content: center; justify-content: center">
                    <mat-icon>upload_file</mat-icon>
                    <h2 style="border: none; color: darkblue">
                        Carga masiva
                    </h2>
                </div>
            </mat-card-title>
        </mat-card-header>

        <mat-divider></mat-divider>

        <mat-card-content>

            <p>Archivos permitidos: .xlsx, .xls, .csv</p>

            <button mat-raised-button color="primary" (click)="fileInputMasivo.click()">
                <mat-icon>cloud_upload</mat-icon>
                Importar archivo
            </button>

            <input
                    type="file"
                    accept=".xlsx, .xls, .csv"
                    (change)="adminService.importarExcel($event)"
                    style="display:none"
                    #fileInputMasivo
            />

            <div style="height: 40px"></div>
            <mat-divider></mat-divider >
        </mat-card-content>


        <!-- ================= CARGA MANUAL ================= -->

        <mat-card-header style="display: flex; justify-content: space-between">
            <mat-card-title>
                <div style="display: flex; gap: 15px">
                    <mat-icon>upload</mat-icon>
                    <h2 style="border: none; color: darkblue">
                        Carga manual
                    </h2>
                </div>

            </mat-card-title>

            <button class="boton-cerrar" (click)="adminService.vaciarEditor()">
                <mat-icon>delete_sweep</mat-icon>
            </button>
        </mat-card-header>

        <mat-card-content>

            <mat-divider></mat-divider >
            <div style="height: 15px"></div>

            <!-- ========== FORMULARIO EN DOS COLUMNAS ========== -->
            <form class="product-form">

                <!-- COLUMNA IZQUIERDA (60%) -->
                <div class="col-izq" >

                    <mat-form-field appearance="outline" style="margin-left: 20px">
                        <mat-label>Nombre</mat-label>
                        <input matInput [(ngModel)]="adminService.form.nombre" name="nombre" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline" style="margin-left: 20px">
                        <mat-label>Precio</mat-label>
                        <input matInput type="number" [(ngModel)]="adminService.form.precio" name="precio" required>
                        <span matTextPrefix>$</span>
                    </mat-form-field>

                    <mat-form-field appearance="outline" style="margin-left: 20px">
                        <mat-label>Categoría</mat-label>
                        <input
                                matInput
                                placeholder="Escribe o selecciona una categoría"
                                [(ngModel)]="adminService.form.categoria"
                                name="categoria"
                                [matAutocomplete]="autoCategory"
                                (input)="adminService.filterCategories(adminService.form.categoria)"
                        >
                        <mat-autocomplete #autoCategory="matAutocomplete">
                            @for (category of adminService.filteredCategories; track category) {
                                <mat-option [value]="category">{{ category }}</mat-option>
                            }
                        </mat-autocomplete>
                        <mat-icon matSuffix>arrow_drop_down</mat-icon>
                    </mat-form-field>

                    <mat-form-field appearance="outline" style="margin-left: 20px">
                        <mat-label>Stock</mat-label>
                        <input matInput type="number" [(ngModel)]="adminService.form.stock" name="stock">
                    </mat-form-field>

                </div>


                <!-- COLUMNA DERECHA (40%) -->
                <div class="col-der">

                    <mat-form-field appearance="outline" style="width: 100%">
                        <mat-label>Descripción</mat-label>
                        <textarea matInput [(ngModel)]="adminService.form.descripcion" name="descripcion" rows="8"></textarea>
                    </mat-form-field>

                    <div class="botonera">
                        <button mat-raised-button color="primary" (click)="fileInput.click()">
                            <mat-icon>cloud_upload</mat-icon>
                            Cargar imagen
                        </button>
                        @if (adminService.imagenUrl) {
                            <p class="image-url-display">
                                <mat-icon color="accent">image</mat-icon>
                                Imagen cargada:
                                <a [href]="adminService.imagenUrl" target="_blank">{{ adminService.imagenUrl }}</a>
                            </p>
                        }

                        <button mat-raised-button color="accent" (click)="adminService.abrirModalGuardadoProducto()">
                            <mat-icon>save</mat-icon>
                            Guardar producto
                        </button>
                    </div>

                </div>

            </form>


            <input
                    type="file"
                    (change)="adminService.onFileSelected($event)"
                    style="display: none"
                    #fileInput
            />






        </mat-card-content>

    </mat-card>


    <!-- ================= MODALES ================= -->

    @if (adminService.mostrarModalGuardarProducto) {
        <div class="modal-overlay-custom">
            <mat-card class="modal-contenido-custom">
                <mat-card-title>Guardar Cambios</mat-card-title>
                <mat-card-content>
                    <p>¿Desea guardar los cambios?</p>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-button (click)="adminService.cerrarModalGuardadoProducto()">Cancelar</button>
                    <button mat-flat-button color="primary" (click)="adminService.confirmarGuardadoProducto()">Aceptar</button>
                </mat-card-actions>
            </mat-card>
        </div>
    }

    @if (adminService.mostrarModalEliminar) {
        <div class="modal-overlay-custom">
            <mat-card class="modal-contenido-custom">
                <mat-card-title>Eliminar Productos</mat-card-title>
                <mat-card-content>
                    <p>¿Desea eliminar los productos seleccionados?</p>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-button (click)="adminService.cerrarModalEliminar()">Cancelar</button>
                    <button mat-flat-button color="warn" (click)="adminService.confirmarEliminar()">Aceptar</button>
                </mat-card-actions>
            </mat-card>
        </div>
    }

</div>
