<div class="admin-panel-container">

    <div class="contendor-izq">
        <div class="fila-superior">
            <h2>Panel de administración</h2>

            <div class="seleccion_modo_adm">
                <button (click)="mostrarVentanaAdm=true" [disabled]="mostrarVentanaAdm===true">
                    Editar Productos
                </button>
                <button (click)="mostrarVentanaAdm=false" [disabled]="mostrarVentanaAdm===false">
                    Subir archivo .xlsx
                </button>
            </div>
        </div>

        <div id="fila-inferior">

            @if (mostrarVentanaAdm === true) {
                <!--EDITOR DE PRODUCTOS-            --  -        -       -           ----            --          -->
                <div class="ventana-editar-productos">
                    <div>

                        <!-- Subida de imagen -->
                        @if (imagenUrl) {
                            <p id="@if_imagen">
                                Imagen cargada:
                                <a [href]="imagenUrl" target="_blank">{{ imagenUrl }}</a>
                            </p>
                        }

                        <!-- Formulario agregar/editar -->
                        <div>
                            <hr>
                            <h3>Información del producto:</h3>
                            <div class="admin-actions">
                                Nombre:<input [(ngModel)]="form.nombre">
                                Precio:<input [(ngModel)]="form.precio" type="number">
                                Descripción:<input [(ngModel)]="form.descripcion">
                                Categoría:<input [(ngModel)]="form.categoria">
                                Stock:<input [(ngModel)]="form.stock">

                                <button (click)="fileInput.click()" class="boton-cargar-imagen">Cargar imagen</button>
                                <button (click)="abrirModalGuardado()">Guardar producto</button>
                            </div>

                            <input
                                    type="file"
                                    (change)="onFileSelected($event)"
                                    style="display: none"
                                    #fileInput
                            />

                            <div style="display: flex; gap: 20px; margin-top: 1.5rem">
                                <button
                                        (click)="seleccionarTodosFiltrados()"
                                        [disabled]="this.productosService.productosFiltrados.length===0"
                                >
                                    Seleccionar todo
                                </button>
                                <button
                                        (click)="abrirModalEliminar()"
                                        [disabled]="this.productosService.productosSeleccionados.length===0"
                                >
                                    Eliminar productos seleccionados
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- modal guardar cambios -->
                    @if (mostrarModalGuardar) {
                        <div class="modal-overlay">
                            <div class="modal-contenido">
                                <p>¿Desea guardar los cambios?</p>
                                <div class="modal-botones">
                                    <button (click)="confirmarGuardado()">Aceptar</button>
                                    <button (click)="cerrarModalGuardado()">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    }

                    <!-- modal eliminar productos seleccionados -->
                    @if (mostrarModalEliminar) {
                        <div class="modal-overlay">
                            <div class="modal-contenido">
                                <p>¿Desea eliminar los productos?</p>
                                <div class="modal-botones">
                                    <button (click)="confirmarEliminar()">Aceptar</button>
                                    <button (click)="cerrarModalEliminar()">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    }


                </div>

                <!-- EDITOR DE COLECCIONES -        ---        -         ---             --              ---         -->
                <div class="editor-de-colecciones">
                    <hr>
                    <h3>Editar cartas de colecciones</h3>
                    <div style="display: flex; flex-direction: row; justify-content: space-between; gap: 50px">
                        <div>
                            <h5>Crear colección</h5>
                            <input #nombreInput type="text" placeholder="Nombre de la colección" />
                            <input #descripcionInput type="text" placeholder="Descripción" />
                            <input #imagenInput type="text" placeholder="URL de la imagen" />

                            <div style="display: flex; flex-direction: row;">
                                <div style="position: relative; display: inline-block;">
                                    <input
                                            class="input-nueva-carta-de-coleccion"
                                            type="text"
                                            placeholder="Buscar productos..."
                                            [(ngModel)]="coleccionesService.buscadorProductosCartasDeColecciones"
                                            (input)="coleccionesService.filtrarProductosParaCartasDeColecciones(); coleccionesService.limpiarProductoSeleccionadoParaCartasDeColecciones()"
                                            (focus)="mostrarResultadosCartasDeColecciones = true"
                                            (blur)="ocultarResultadosConDelay()"
                                            autocomplete="off"
                                    />

                                    <!-- Resultados de búsqueda -->
                                    @if (mostrarResultadosCartasDeColecciones && coleccionesService.buscadorProductosCartasDeColecciones!=="") {
                                        <div class="resultados">
                                            @for (producto of coleccionesService.productosFiltradosParaCartasDeColecciones$ | async; track producto.nombre) {
                                                <div class="miniatura-de-busqueda" (click)="coleccionesService.seleccionarProductoParaNuevaCartaDeColeccion(producto)">
                                                    <img [ngSrc]="producto.imagen" width="50" height="50" alt="" />
                                                    <h5>{{ producto.nombre }}</h5>
                                                    <span>{{ producto.precio | currency }}</span>
                                                </div>
                                            }
                                        </div>
                                    }
                                </div>

                                <button (click)="agregarNuevaColeccion(nombreInput, descripcionInput, imagenInput)">
                                    Agregar colección
                                </button>
                            </div>

                            <div style="display: flex; flex-direction: column; margin-top: 10px">
                                <h5>Eliminar colección</h5>
                                <div style="display: flex; flex-direction: row">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Seleccionar colección</mat-label>
                                        <mat-select #select>
                                            @for (coleccion of coleccionesService.coleccionDeProductos$ | async; track coleccion.id) {
                                                <mat-option [value]="coleccion.id">
                                                    {{ coleccion.name }}
                                                </mat-option>
                                            }
                                        </mat-select>
                                    </mat-form-field>
                                    <button
                                            mat-raised-button
                                            color="warn"
                                            (click)="coleccionesService.eliminarProductoDeColeccion(select.value)"
                                            [disabled]="!select.value"
                                    >
                                        Eliminar colección seleccionada
                                    </button>
                                </div>
                            </div>
                        </div>

                        <!-- preview del producto -->
                        @for (idProducto of coleccionesService.listaDeIDsProductosParaPushearEnCartaDeColeccion; track idProducto) {
                            @let producto = productosService.getProductoPorId(idProducto);

                            @if (producto != null)
                            {
                                <div class="preview-descuento" style="pointer-events: none;">
                                    <div class="miniatura-de-descuento" >
                                        <img
                                                [ngSrc]="producto.imagen"
                                                width="50"
                                                height="50"
                                                alt=""
                                        />
                                        <h5>{{ producto.nombre }}</h5>
                                        <span>{{ producto.precio | currency }}</span>
                                    </div>
                                </div>
                            }
                        }
                    </div>


                </div>



                <!--EDITOR DE "NUEVOS PRODUCTOS"    -----       -----           --- -   --  -   -   --  -   -   -   -   --->
                <div>
                    <hr>
                    <h3>Administrar lista de nuevos productos</h3>

                    <div class="contenedor-descuentos">
                        <!--tabla de interacciones con nuevos productos-->
                        <div>
                            <!-- crear nuevo producto -->
                            <div>
                                <h5>Agregar "nuevo" a producto existente</h5>
                                <div style="display: flex; flex-direction: column;">
                                    <div style="position: relative; display: inline-block;">
                                        <input
                                                class="input-descuentos"
                                                type="text"
                                                placeholder="Escriba el producto"
                                                [(ngModel)]="productosService.buscadorNuevosProductosService"
                                                (input)="productosService.filtrarProductosParaNuevosProductosService(); newProductsService.limpiarProductoSeleccionadoParaNuevosProductos()"
                                                (focus)="mostrarResultadosAgregarNuevosProductos = true"
                                                (blur)="ocultarResultadosConDelay()"
                                                autocomplete="off"
                                        />

                                        <!-- Resultados de búsqueda -->
                                        @if (mostrarResultadosAgregarNuevosProductos && productosService.buscadorNuevosProductosService!=="") {
                                            <div class="resultados">
                                                @for (producto of productosService.productosFiltradosParaNuevoProductos; track producto.nombre) {
                                                    <div class="miniatura-de-busqueda" (click)="newProductsService.seleccionarProductoParaNuevosProductos(producto)">
                                                        <img [ngSrc]="producto.imagen" width="50" height="50" alt="" />
                                                        <h5>{{ producto.nombre }}</h5>
                                                        <span>{{ producto.precio | currency }}</span>
                                                    </div>
                                                }
                                            </div>
                                        }
                                    </div>

                                    <button
                                            style="width: fit-content; margin: 10px 0"
                                            [disabled]="newProductsService.productoSeleccionadoParaNuevosProductos.nombre==='' "
                                            (click)="newProductsService.agregarNuevoProductoNuevo()"
                                    >
                                        Agregar a colección "nuevos productos"
                                    </button>
                                </div>
                            </div>

                            <!-- eliminar producto de lista de nuevos -->
                            <div>
                                <h5 style="margin: 15px 0">Borrar producto de la lista de "productos nuevos"</h5>
                                <!--buscador de prodcutos nuevos-->
                                <input
                                        type="text"
                                        placeholder="Buscar producto..."
                                        [(ngModel)]="newProductsService.inputNombreProductoNuevo"
                                        (input)="newProductsService.filtrarListaDeProductosNuevos()"
                                        (focus)="mostrarResultadosEliminarProductoNuevo = true"
                                        (blur)="ocultarResultadosConDelay()"
                                        autocomplete="off"
                                />
                                <!-- Resultados de búsqueda -->
                                @if (mostrarResultadosEliminarProductoNuevo && newProductsService.listaProductosNuevosFiltrados.length!==0) {
                                    <div class="resultados">
                                        @for (productoNuevo of newProductsService.listaProductosNuevosFiltrados; track productoNuevo.nombre) {
                                            <div
                                                    class="miniatura-de-busqueda"
                                                    (click)="newProductsService.seleccionarProductoNuevoParaEliminarDeLista(productoNuevo)"
                                            >
                                                <img [ngSrc]="productoNuevo.imagen" width="50" height="50" alt="" />
                                                <h5>{{ productoNuevo.nombre }}</h5>
                                                <span>{{ productoNuevo.precio | currency }}</span>
                                            </div>
                                        }
                                    </div>
                                }
                                <!--boton borrar "nuevo" a producto-->
                                <button (click)="borrarNuevoProducto()">
                                    Retirar producto de la lista de nuevos
                                </button>
                            </div>

                        </div>

                        <!-- preview del producto -->
                        @if (newProductsService.productoSeleccionadoParaNuevosProductos.nombre !=="") {
                            <div class="preview-descuento" style="pointer-events: none;">
                                <div class="miniatura-de-descuento">
                                    <img
                                            [ngSrc]="this.newProductsService.productoSeleccionadoParaNuevosProductos.imagen"
                                            width="50"
                                            height="50"
                                            alt=""
                                    />
                                    <h5>{{ this.newProductsService.productoSeleccionadoParaNuevosProductos.nombre }}</h5>
                                    <span>{{ this.newProductsService.productoSeleccionadoParaNuevosProductos.precio | currency }}</span>
                                </div>
                            </div>
                        }
                    </div>
                </div>

            } @else if (mostrarVentanaAdm === false) {  <!--VENTANA DE CARGAR ARCHIVO EXCEL-->
                <div class="ventana-cargar-archivo-db">
                    <input type="file" (change)="importarExcel($event)" accept=".xlsx, .xls, .csv" />
                </div>
            }
        </div>
    </div>

    <div class="contenedor-der"
    >
        <!-- buscador -->
        <div class="buscador-adm">
            <input
                    [disabled]="productosService.mostrarTodosProductos"
                    type="text"
                    style="width: 50%; height: 100%"
                    [placeholder]="productosService.mostrarTodosProductos ? '---' : 'Buscar producto...'"
                    [(ngModel)]="productosService.searchTerm"
                    (input)="productosService.filtrarProductos()"
                    (focus)="mostrarResultados = true"
                    (blur)="ocultarResultadosConDelay()"
                    autocomplete="off"
            />

            <label class="label-checkbox" (click)="productosService.filtrarProductos()">
                Mostrar todos los productos
                <input
                        type="checkbox"
                        [(ngModel)]="productosService.mostrarTodosProductos"
                        (change)="productosService.filtrarProductos()"
                        style="pointer-events: none; scale: 1.5; margin-left: 10px"
                />
            </label>
        </div>

        <div class="productos-grid">

            <!-- Lista de productos -->

            @for (p of productosService.productosFiltrados; track p.id) {
                <div class="producto-item">
                    <div class="producto-header">
                        <input
                                type="checkbox"
                                [(ngModel)]="p.seleccionado"
                                (ngModelChange)="productosService.toggleSeleccion(p, $event)"
                                id="chk-{{p.id}}"
                        />
                        <label for="chk-{{p.id}}">{{ p.nombre }}</label>
                    </div>

                    <div class="producto-imagen">
                        @if (p.imagen) {
                            <img [src]="p.imagen" alt="Imagen del producto {{ p.nombre }}" />
                        } @else {
                            <mat-icon class="icono-centrado">
                                image_not_supported
                            </mat-icon>
                        }
                    </div>

                    <div class="producto-detalles">
                        <span class="producto-precio">{{ p.precio }}$</span>
                        <button (click)="cargarEnFormulario(p)">Editar</button>
                    </div>
                </div>
            }
        </div>

    </div>
</div>
