<div class="admin-panel-container">
    <app-ventanas-adm></app-ventanas-adm>

    <div class="admin-panel-sub-container">
        <div class="contendor-izq">

            <div id="fila-inferior">

                @if (adminService.mostrarVentanaAdm === true) {      <!--VENTANA DE EDITAR PRODUCTOS -->
                    @if (adminService.form.id !== null) {
                        <app-editor-producto></app-editor-producto>
                    }
                    <app-editor-colecciones></app-editor-colecciones>
                    <app-editor-nuevo-producto></app-editor-nuevo-producto>

                } @else if (adminService.mostrarVentanaAdm === false) {  <!--VENTANA DE CARGAR ARCHIVO EXCEL O SUBIR PRODUCTO A MANO-->

                    <div class="ventana-cargar-archivo-db">
                        <app-subir-producto></app-subir-producto>
                    </div>
                }

            </div>
        </div>

        <app-ventana-productos></app-ventana-productos>    <!--    ==========  VISUALIZACION DE PRODUCTOS  ===========        -->

    </div>

</div>
