.login-container {
    width: 320px;
    margin: 5vh auto;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.fondo-registro {
    background-color: rgba(175, 216, 248, 0.22);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);

}

.sin-fondo {
    background-color: transparent;
}

h2 {
    text-align: center;
    margin-bottom: 24px;
    font-weight: 500;
    color: #3f51b5;
}

.full-width {
    width: 100%;
    margin-bottom: 20px;
}

.login-button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.login-button:hover:not(:disabled) {
    background-color: #b2c7d1;
    box-shadow: 0 4px 10px rgba(63, 81, 181, 0.4);
}

.login-button:disabled {
    background-color: #ccc !important;
    color: #666 !important;
    box-shadow: none !important;
    cursor: not-allowed;
}

.formulario-registro{
    display: flex;
    position: absolute;
    top: 0
}

.tooltip{
    position: absolute;
    right: 0;
    top: -300%;

}