
<div class="login-container"
     [ngClass]="mostrarFormularioRegistro ? 'fondo-registro' : 'sin-fondo'">

    @if (mostrarFormularioRegistro === false) {
        <h2>Iniciar sesión</h2>
        <form [formGroup]="loginForm" (ngSubmit)="login()">

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Correo electrónico</mat-label>
                <input matInput formControlName="email" type="email" required>
                @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
                    <mat-error>Email inválido</mat-error>
                }
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Contraseña</mat-label>
                <input matInput formControlName="password" type="password" required>
                @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
                    <mat-error>Contraseña requerida</mat-error>
                }
            </mat-form-field>

            <div style="display: flex; flex-direction: row">
                <button
                        mat-raised-button
                        color="primary"
                        type="submit"
                        class="login-button"
                        [disabled]="loginForm.invalid"
                >
                    <div
                        #tooltipRef="matTooltip"
                        matTooltip="{{tooltipMessage}}"
                        [matTooltipShowDelay]="0"
                        [matTooltipHideDelay]="0"
                        [matTooltipDisabled]="false"
                        class="tooltip"
                    > </div>
                    Iniciar sesión

                </button>
                <button
                        mat-raised-button
                        color="primary"
                        class="login-button"
                        [disabled]="!(authService.user$ | async)"
                        (click)="logout()"
                >
                    Cerrar sesión
                </button>
            </div>

            <div style="text-align: center; margin-top: 10px;" (click)="mostrarFormularioRegistro = true">
                <a  style="text-decoration: underline; color: #3f51b5; cursor: pointer;">
                    Registrarse
                </a>
            </div>

        </form>
    }


    @if (mostrarFormularioRegistro) {
        <span class="material-icons" style="cursor: pointer; position: absolute" (click)="mostrarFormularioRegistro = false">arrow_back</span>
        <h2>Crear usuario</h2>
        <form [formGroup]="registrationForm" (ngSubmit)="registrarse()" style="display: flex; flex-direction: column; align-items: center;">

            <mat-form-field class="full-width">
                <mat-label>Escribir correo electrónico</mat-label>
                <input matInput formControlName="email" type="email" required>
                @if (registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched) {
                    <mat-error> "Email inválido" </mat-error>
                }

            </mat-form-field>

            <mat-form-field  class="full-width" >
                <mat-label >Escribir contraseña</mat-label>
                <input matInput formControlName="password" type="password" required>
                @if (registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched) {
                    <mat-error>
                        Contraseña requerida
                    </mat-error>
                }
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit" [disabled]="registrationForm.invalid" >
                Registrarse
            </button>

        </form>
    }


</div>
