.slide-brand {
    width: 100vw;
    height: 90vh;
    background-image: url("/images/slide.png");
    background-size: cover;
}

.boton-slide {
    position: absolute;
    border-radius: 20px;
    padding: 1rem;
    right: 50%;
    bottom: 10%;
    transform: translate(50%, -50%);
    background-color: #b1d5fd;
    font-size: large;
    box-shadow: rgba(16, 0, 0, 0.74) 4px 4px 0;
    width: 10vw;
    height: fit-content;
}


.block-card {
    flex: 0 0 300px;          /* ancho fijo de cada carta */
    height: 80vh;             /* altura igual para todas */
    position: relative;
    display: flex;
    min-width: 25vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    color: white;
}

.block-card::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: inherit;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;
    z-index: 0;
}

.block-card:hover::before {
    transform: scale(1.1);
}

.card-content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    padding: 10px 15px;
    background: rgba(0,0,0,0);
}

.card-title {
    font-size: 1.8rem;
    background-color: rgba(0, 0, 0, 0.33);
    border-radius: 10px;
    padding: 8px 12px;
    max-width: max-content;
    margin: 0 auto;
    text-align: center;
    cursor: default;
    color: #ffffff;
}

.card-button {
    background-color: rgba(244, 245, 250, 0.8);
    border: none;
    border-radius: 20px;
    padding: 10px 16px;
    font-size: 1rem;
    cursor: pointer;
    opacity: 0.9;
    color: #000;
}

.card-button:hover {
    background-color: rgba(195, 202, 243, 0.9);
}

.cards-container {
    margin: 50px 50px;
    display: flex;
    flex-wrap: wrap;         /* permite pasar a la siguiente fila */
    justify-content: center; /* centra las filas */
    gap: 5rem;
}

.rebajas {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.contenedor-descuentos{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 1rem;
}

.card-img-top{
    width: 100%;
    height: 150px;
    object-fit: cover;
    flex-shrink: 0;
}
.card-body{
    flex: 2;
    min-width: 200px;
}

.contenedor-numeros-descuento{
    margin-top: auto;
}

.producto-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 10px;
    overflow: auto;
}

.card{
    cursor: pointer;
    padding: 10px;
    flex: 0 0 auto;
    width: 15vw;
    height: 25vw;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

